extends layout

block content
  table(class="table", style="max-width: 100%;")
    thead
      tr
        th PID
        th USERNAME
        th CPULOAD
        th MEMLOAD
        th COMMAND
    tbody
      tr