doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
  div(class="container")
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      div(class="container-fluid")
        a(href="/", class="navbar-brand") Task Manager
    block content
  script(type="text/javascript", src='/javascripts/bootstrap.min.js')
  script(type="text/javascript", src='/javascripts/jquery.min.js')
  script(type="text/javascript", src='/javascripts/index.js')
