doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
  div(class="container")
    nav(class="navbar fixed-top navbar-light bg-light")
      div(class="container-fluid")
        a(href="/", class="navbar-brand") 🖥️ Task Manager
        ul(class="nav nav-pills")
          li(class="nav-item") 
            a(class="nav-link active", data-tab="process-list", href="#") Process List
          li(class="nav-item") 
            a(class="nav-link", data-tab="system-info", href="#") System Info
    block content
  script(type="text/javascript", src='/javascripts/bootstrap.min.js')
  script(type="text/javascript", src='/javascripts/jquery.min.js')
  script(type="text/javascript", src='/javascripts/index.js')
